body {
    min-width: unset !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > div {
    display: none;
}

body > div[tpl="calendar_pc"] {
    display: inline-block;
}

.op-calendar-new-holidaytip {
    display: none !important;
}
.op-calendar-hover-almanac {
    display: none !important;
}
/* 取消左侧圆角 */
.op-calendar-pc-left{
    border-radius: 0 !important;
}
/* 取消右侧圆角 */
.op-calendar-pc-right{
    border-radius: 0 !important;
}
